@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.unique-container *, 
.unique-container *:before, 
.unique-container *:after {
  box-sizing: border-box;
}

.unique-container body {
  background: #1d0d14;
}

.unique-container a {
  text-decoration: none;
  color: #5C7FB8;
}

.unique-container a:hover {
  text-decoration: underline;
}

.unique-container .movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.unique-container .container {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.unique-container .hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.unique-container .hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background:red;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg");
  z-index:-1;
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  -webkit-backface-visibility: hidden; 
}

.unique-container .cover {
  position: fixed;
  top: 160px;
  left: 40px;
  z-index: 2;
  max-width: 187px;
}

.unique-container .details {
  padding: 190px 0 0 280px;
}

.unique-container .details .title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.unique-container .details .title1 span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  padding: 0px 4px;
}

.unique-container .details .title2 {    
  color: #C7C1BA;
  font-size: 23px;    
  font-weight: 300;
  margin-bottom: 15px;
}

.unique-container .details .likes {
  margin-left: 24px;
}

.unique-container .details .likes:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
  position: relative;
  top: 2px;
  padding-right: 7px;
}

.unique-container .description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}

.unique-container .column1 {
  padding-left: 35px;
  padding-top: 90px;
  width: 220px;
  float: left;
  text-align: center;
}

.unique-container .tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.unique-container .tag:hover {
  background: #ddd;
}

.unique-container .column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 692px;
  float: left;
}

.unique-container .avatars {
  margin-top: 23px;
}

.unique-container .avatars img {
  cursor: pointer;
}

.unique-container .avatars img:hover {
  opacity: 0.6;
}

.unique-container .avatars a:hover {
  text-decoration: none;
}

.unique-container fieldset, 
.unique-container label { 
  margin: 0; 
  padding: 0; 
}

.unique-container .rating { 
  border: none;
  float: left;
}

.unique-container .rating > input { 
  display: none; 
} 

.unique-container .rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.unique-container .rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.unique-container .rating > label { 
  color: #ddd; 
  float: right; 
}

.unique-container .rating > input:checked ~ label, /* show gold star when clicked */
.unique-container .rating:not(:checked) > label:hover, /* hover current star */
.unique-container .rating:not(:checked) > label:hover ~ label { 
  color: #FFD700;  
}

.unique-container .rating > input:checked + label:hover, /* hover current star when changing rating */
.unique-container .rating > input:checked ~ label:hover,
.unique-container .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.unique-container .rating > input:checked ~ label:hover ~ label { 
  color: #FFED85;  
}

.unique-container a[data-tooltip] {
  position: relative;
}

.unique-container a[data-tooltip]::before,
.unique-container a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

.unique-container a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
}

.unique-container a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

.unique-container a[data-tooltip]:hover::before,
.unique-container a[data-tooltip]:hover::after {
  display: block;
}

/* positioning */

/* top tooltip */
.unique-container a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

.unique-container a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}

.unique-container * {
  transform: none !important;
  filter: none !important;
  perspective: none !important;
}
section#extraDetails {
  position: fixed !important;
  right: 5% !important;
  top: 51% !important;
}

.unique-container h1.extra {
  text-align: justify;
  font-size: larger;
  font-family: fantasy;
  color: #7f1855;
  border-top: outset;
}
.unique-container .actor-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.unique-container .actor-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.unique-container .actor-name {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

.unique-container .actor-role {
  font-size: 14px;
  color: #777;
}

/* Other existing CSS */
section.actors {
  display: inline-flex;
  height: 287px;
  overflow: hidden;
  max-width: 1890px;
}
.unique-container {
  background: rgb(47 5 15 / 90%);
}
